@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Thmanyah';
  src: url('/fonts/thmanyah/THMANYAHSERIFDISPLAY-REGULAR.OTF') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Thmanyah';
  src: url('/fonts/thmanyah/THMANYAHSERIFDISPLAY-LIGHT.OTF') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Thmanyah';
  src: url('/fonts/thmanyah/THMANYAHSERIFDISPLAY-MEDIUM.OTF') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Thmanyah';
  src: url('/fonts/thmanyah/THMANYAHSERIFDISPLAY-BOLD.OTF') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Thmanyah';
  src: url('/fonts/thmanyah/THMANYAHSERIFDISPLAY-BLACK.OTF') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff9ed;
    color: #1e1b13;
    font-family: "Thmanyah", "IBM Plex Sans Arabic", sans-serif;
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom, 0px);
  }
  .pt-safe {
    padding-top: env(safe-area-inset-top, 0px);
  }
  main > :first-child {
    margin-top: 0 !important;
  }
  main > :last-child {
    margin-bottom: 0 !important;
  }
}

::-webkit-scrollbar {
  display: none;
}